*{
    margin: 0; 
    box-sizing: border-box;
  }
  .container{
    width: 825px;
    margin: 50px auto;
    position: relative;
  }
  
  img.img-post {
    float: left;
    width: 250px;
  }
  
  div.container {
    color: 	#000000;
    border: black solid 4px;
    font-family: sans-serif;
    font-weight: 200;
  }
  
  /* Header styling */
  .main-header {
    text-transform: uppercase;
    font-size: 25px;
    background-color: #E8E8E8;
    text-align: center;
    padding: 15px 0;
  }
  
  .price{
  	display: inline-block;
    font-size: 25px;
    font-weight: 600;
  }
  
  /* Shipping section */
  .shipping {
    color: #C8C8C8;
    text-transform: uppercase;
    font-weight: 700;
    float: right;
    margin-bottom: 20px;
    margin-top: 4px;
  }
  
  /* More Information section */
  a:link{
    color: #000;
  }
  
  a:visited {
    color: #000000;
  }
  
  a:hover{
    text-decoration: none;
  }
  
  /* Product details */
  
  h2 {text-transform: uppercase;
      font-size: 18px;
      font: weight 1px;
      margin-left: 18px;
  }

  li {
    list-style-type: square;
    margin-bottom: 10px;
  }
  
  li:last-child {
    margin-bottom: 15px;
  }
  
  /* Add to cart section */
  .primary-button {
    width: 100%;
    height: 40px;
    background-color: #000;
    border: none;
    color: #F0F0F0;
    text-transform: uppercase;
    padding: 3px; 
  }
  .primary-button:hover {
    font-weight: 700;
    background-color: #FFF;
    color: #000;
    cursor: pointer;
    border-top: 4px solid #000;
  }
  
  .img-post {
    margin-right: 40px;
  }
  
  .product-information {
    margin-bottom: 12px;
    margin-top: 20px;
  }
  
  .product-detail {
    margin-bottom: 15px;
  }
  
  .sale {
    color: #FFF;
    letter-spacing: 2px;
    display: inline-block;
    text-transform: uppercase;
    background-color: #F00;
    padding: 6px 6px;
    position: absolute;
    transform: translate( -50%, -50% ); 
  }
  
  
  
  .more-information-link{
    display: inline-block;
    margin-bottom: 30px;
  }

.desc{width: 850px;}

/** COLOUR OPTIONS **/

  .color-container {
  	font-size: 0px;
  }
  
  .color-option {
 	  width: 20px;
    height:20px;
    cursor: pointer;
    margin-left: 10px;
    display: inline-block;
  }
  
  .color-option:first-child {
  	margin: 0;
  }

  .color-option.opt1 {background-color:black;}
  .color-option.opt2 {background-color:blue;}
  .color-option.opt3 {background-color:red;}
  .color-option.opt4 {background-color:yellow;}
  .color-option.opt5 {background-color:greenyellow;}
  .color-option.opt6 {background-color:brown;}
  
 
  
  .price-info-container{
    width: 243px;
    float: left;
    margin-right: 40px;
    margin-top: 20px;
  }
  .product-detail-container{
    width: 243px;
    float: right;
    margin-top: 20px;
    padding-right: 5px;
  }